body {
  background-color: #BCF7CB;
}
.firstheading {
  color: green;
  text-align: center;
}

img {
  width: 400px;
}

p {
  font-size: 20pt;
}

.animalprofile {
  float: left;
  width: 400px;
  margin: 40px;
  border: 10px solid green;
  padding: 20px;
  background-color: #D6E3E0;
}

#cat {
  color: purple;
}

.kitten {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .animalprofile {
    width: 300px;
    float: left;
    padding: 20px;
  }
  img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: teal;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
