body {
  background-color: #BCF7CB;
}
.firstheading {
  color: green;
  text-align: center;
}

img {
  width: 300px;
}

p {
  font-size: 20pt;
}

.animalprofile {
  float: left;
  width: 300px;
  margin: 40px;
  border: 10px solid green;
  padding: 20px;
  background-color: #D6E3E0;
}
